<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="iframeId1" data-view="Iframe" data-src="http://player.twitch.tv/?channel=curvyllama"></div>
   </li>
   <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="iframeId2" data-view="Iframe" data-src="http://www.twitch.tv/curvyllama/chat?popout="></div>
   </li>
  </ul>
</div>
