<div class="panel panel-default">
  <div class="panel-heading">
    Settings
  </div>
  <div class='list-group'>
    <div ng-repeat="item in ctrl.settings" class="list-group-item">
      <h4 class="list-group-item-heading">
        <a href="" ui-sref="^.view({id: item.id})">{{item.key}}</a>
      </h4>

      <p class="list-group-item-text">{{item.value}}</p>
    </div>
    <div ng-show="!ctrl.settings.length" class="list-group-item">
      <h4 class="list-group-item-heading" translate>
        There are no settings
      </h4>

    </div>
  </div>
</div>
